@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

/*main styling*/

.cell{
	border:10px solid rgb(75, 180, 175);
	position:relative;
    width:50px;
	height:50px;
	overflow:hidden;
	float:left;
}